{% extends "simple.html" %}

{% load static %}

{% block head-add %}
    <link rel="icon" href="{% static 'schedule.png' %}" type="image/png">
{% endblock %}

{% block header %}
    <div id="title" class="title noselect">
        Cl<span id="header-icon" class="material-icons md-bf">schedule</span>ckWork
        {% include header_btn_template %}
    </div>
{% endblock %}

{% block content %}
<div class="main">
    <div class="left-column hide-scroll">
        <table>
            <thead>
            <tr id="dates">
                <th class="time-width"></th>
                {% for date in date_list %}
                <th class="dates">{{ date }}</th>
                {% endfor %}
            </tr>
            <tr id="days">
                <th></th>
                <th class="days">Monday</th>
                <th class="days">Tuesday</th>
                <th class="days">Wednesday</th>
                <th class="days">Thursday</th>
                <th class="days">Friday</th>
                <th class="days">Saturday</th>
                <th class="days">Sunday</th>
            </tr>
            </thead>
            <tbody>
            {% for row in week_by_row %}
                <tr id="row_{{ forloop.counter0 }}">
                    {% if row.0 %}
                        <td id="row_{{ forloop.counter0 }}_time" rowspan="4" class="times">{{ row.0 }}</td>
                    {% endif %}
                    <td id="entry_{{ forloop.counter0 }}_1" class={{ row.1 }}></td>
                    <td id="entry_{{ forloop.counter0 }}_2" class={{ row.2 }}></td>
                    <td id="entry_{{ forloop.counter0 }}_3" class={{ row.3 }}></td>
                    <td id="entry_{{ forloop.counter0 }}_4" class={{ row.4 }}></td>
                    <td id="entry_{{ forloop.counter0 }}_5" class={{ row.5 }}></td>
                    <td id="entry_{{ forloop.counter0 }}_6" class={{ row.6 }}></td>
                    <td id="entry_{{ forloop.counter0 }}_7" class={{ row.7 }}></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="right-column noselect">
        <div id="goal">
            {{ hours_worked }} / {{ goal }} Hours
        </div>
        <div id="start_timer" onclick="start_timer();">
            <span class="material-icons md-125 md-bf">timer</span>
        </div>
        <div id="stop_timer" class="noshow" onclick="stop_timer();">
            <span class="material-icons md-125 md-bf">timer_off</span>
            <div id="stopwatch"> +00:00.00 </div>
        </div>
        <div id ="goal_percent">
            {{ goal_percent }}%
        </div>
   </div>
</div>
<form id="timer_form" method="POST" action="">
    {% csrf_token %}
    {{ timer_form }}
</form>
{% include popup_template %}
{% endblock %}

{% block scripts %}
    <script>
        var start_timer_btn = document.getElementById("start_timer");
        var stop_timer_btn = document.getElementById("stop_timer");
        var start;
        function start_timer(){
            start = new Date();
            start_timer_btn.classList.add("noshow");
            stop_timer_btn.classList.remove("noshow");
            return setInterval(update_stopwatch, 100);
        }
        function stop_timer(){
            let end = new Date();
            document.getElementById("id_work_time").value = Math.round((end.getTime() - start.getTime())/1000); // Ellapsed time in seconds
            stop_timer_btn.classList.add("noshow");
            start_timer_btn.classList.remove("noshow");
            document.getElementById("timer_form").submit();
        }

        var tenth_count = 0;
        var stopwatch = document.getElementById("stopwatch");
        function update_stopwatch(){
            tenth_count++;
            var hours = Math.floor(tenth_count/36000);
            var remain = tenth_count - hours*36000;
            var minutes = Math.floor(remain/600);
            remain -= minutes*600;
            var seconds = Math.floor(remain/10);
            remain -= seconds*10;
            if (hours<10){
                hours = "0"+hours;
            }
            if (minutes<10){
                minutes = "0"+minutes;
            }
            if (seconds<10){
                seconds = "0"+seconds;
            }
            stopwatch.innerHTML = "+"+hours+":"+minutes+":"+seconds+"."+remain;
        }
    </script>
    <script>
        function swap_popup(){
            document.getElementById("popup").classList.toggle("noshow");
            document.getElementById("alt_popup").classList.toggle("noshow");
        }
    </script>
{% endblock %}
