*, *:before, *:after {
    box-sizing: border-box;
}

.noshow{
    display:none;
}

.hide-scroll{
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
    overscroll-behavior: contain;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html{
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    height: 95vh;
}

.header-wrapper{
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    background-color:#FF9900;
}

.title{
    font-size: 36px;
    padding-left: .5rem;
    font-weight: 900;
}

.btn-wrapper-right{
    float:right;
    margin-right:.5rem;
    cursor: pointer;
    font-size: 18px;
}


span{
    vertical-align:middle;
}

.main{
    position: relative;
    display: flex;
    height: 90vh;
}

.left-column, .right-column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
}
    .left-column{
        width: 65vw;
    }
    .right-column{
        width: 35vw;
    }

table {
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
}

th.time-width{
    width: 8%;
}

th.dates{
    width: 12.5%;
}

th.days{
    background-color: #ff9900;
    color: white;
    padding: 5px 10px;
    border-width: 1px 2px;
    border-color: white;
    border-style: solid;
    font-size: 18px;
    font-weight: 900;
}

td.times{
    background-color: #ff9900;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    font-weight:900;
}

td {
    text-align: center;
}

td.color_-1, td.color_0, td.color_1{
    border-style: dotted solid;
    border-width: 1px 2px;
    border-color: white;
}

td.color_-1{
    background-color: rgb(210,210,210);
}

td.color_0{
    background-color: rgb(255,180,180);
}

td.color_1{
    background-color: rgb(116,195,101);
}

#goal, #goal_percent{
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

#start_timer, #stop_timer{
    text-align: center;
    cursor: pointer;
}

.material-icons.md-125 { font-size: 125px; }
.material-icons.md-bf { font-weight: 600; }

#stopwatch{
    display: inline-block;
    color: rgb(116, 195, 101);
    font-weight: 900;
    width: 10%;
}

.popup_border{
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    padding: 10% 40%;
    background-color: rgba(255,153,0,.75);
}

.popup{
    font-size: 36px;
    font-weight: 900;
    background-color: white;
    border: 1px outset black;
    box-shadow: 2px 2px 5px 3px;
    padding-bottom: 1rem;
}

.popup input{
    width: calc(100% - 2rem);
    margin-left:1rem;
    margin-right:1rem;
}

.submit_btn{
    background-color: #FF9900;
    border:4px solid #FF9900;
    color: black;
    cursor: pointer;
}

.popup_btn{
    border:4px solid #FF9900;
    margin: 1rem 1rem 0rem 1rem;
    color: black;
    background-color: #FF9900;
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.error, .errorlist{
    font-size: 14px;
    font-weight: normal;
    color: red;
}
.error{
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 28px;
    text-align: right;
}

.footer-link{
    margin-right: .5rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer-link img{
    height: 18px;
    vertical-align:middle;
}
