<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>ClockWork</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="keywords" content="Productivity, Time Management">
    <meta name="description" content="A web application for tracking work time.">
    {% load static %}
    <link rel="stylesheet" href="{% static 'simple.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    {% block head-add %}
    {% endblock %}
</head>
<body>
    <div id="header-wrapper" class="header-style-1">
        {% block header %}
        {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <a href="https://github.com/11000001/ClockWork/issues" class="footer-link">
            <span class="material-icons">bug_report</span>
        </a>
        <a href="https://github.com/11000001/ClockWork" class="footer-link">
            <img src="{% static 'GitHub-Mark-32px.png' %}" alt="GitHub">
        </a>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>
